body {
    margin: 5px;
    text-transform: capitalize;
}

.container {
    border: 1px solid black;
    width:500px;
    height:500px;
    padding: 4rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: radial-gradient(circle at 20% 20%, white, orange);
}

.login-field {
    width:400px;
    line-height: 25px;
    padding:1rem;
}

.login-field label {
    float: left;
    width:80px;
}

.login-field input {
    width: 200px;
}

.container button { /* descendant selectors */
    /* width: 70px;
    height: 30px;
    float: right; */
}

[id |= "btn"] { /* All element that contain btn in class */
    width: 70px;
    height: 30px;
    float: right; 
}
/*
~= -> be exactly the same
|= -> be exactly the same or start "(word)-"
^= -> start with (String)
$= -> end with (String)
*= -> contain (String)
*/

button[id *= "btn"]:hover {
    background-color: lightgrey;
}

button[id *= "btn"]:active {
    background-color: bisque;
    color: skyblue;
}

.replace-signup {
    /* clear: right;
    float:right; */
}