/*
Priority of css
1. !important 
    -> font-style: italic !important;
2. inline 
    -> <p style"...">
3. id 
    -> #{id} {...}
4. class 
    -> .{class} {...} 
5. type style 
    -> p {...}
*/

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Handjet:wght@300&display=swap');
* {
    margin: 10px;
    text-transform: capitalize;
}

h2 {
    padding : 10px;
    background-color: beige;
    color: darkgreen;
    font-family: 'borel', cursive;
    letter-spacing: 0.2rem;
}

dd {
    margin-left:2rem;
    text-shadow: 2px 3px 3px orange; /* offset-x offset-y blur-radius color */
}

th, tr, td {
    width: 33%;
    border: 1px solid darkgreen;
    text-align: center;
}

h4 { /* Practice Subtitle*/
    background-color: dimgray;
    color:cyan;
    padding:1rem;
    font-size: 20px;
    font-style: italic;
    font-family: 'HandJet', cursive;
}


.list { /* class */
    font-style: italic;
}

.ordered-list {
    list-style-type: lower-alpha; /* like 'type="a"' */
}

.unordered-list {
    list-style-type: circle;
}

.image-list {
    list-style-image: url('../img/download.png') !important;
    list-style-position: inside;
}

.table {
    width:70%;
    border:1px solid darkgreen;
    border-collapse: collapse; /* border-spacing: 0; */
}

.practice {
    background-color: skyblue;
    color: greenyellow;
}

.practice-unordered-list {
    list-style-type: none;
    
}
.practice-unordered-list-item {
    border: 1px solid #000;
    margin: 1em;
    padding: 1em;
    text-align: center;
    
}

#article-text { /* id */
    font-size: 10px;
    font-weight: bold;
    text-align: justify;
    line-height: 0.75rem; /* 0.75rem -> 12px 
        => default font size is 16px, 16px x 0.75 = 12px
        Declare font-size: 10px; here but, 0.75rem is 12px
        Can use 150%*/
    color:hsla(135, 51%, 51%, 0.5) /* + rgb, rgba*/
}