/*
Priority of css
1. !important 
    -> font-style: italic !important;
2. inline 
    -> <p style"...">
3. id 
    -> #{id} {...}
4. class 
    -> .{class} {...} 
5. type style 
    -> p {...}
*/

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Handjet:wght@300&display=swap');
* {
    margin: 5px;
    text-transform: capitalize;
}

h2 {
    padding : 10px;
    background-color: beige;
    color: darkgreen;
    font-family: 'borel', cursive;
    letter-spacing: 0.2rem;
}

dd {
    margin-left:2rem;
    text-shadow: 2px 3px 3px orange; /* offset-x offset-y blur-radius color */
    display: inline; /* make block element as inline element*/
}

th, tr, td {
    width: 33%;
    border: 1px solid darkgreen;
    text-align: center;
    border-width: 2px;
}

h4 { /* Practice Subtitle*/
    background-color: dimgray;
    color:cyan;
    padding:1rem;
    font-size: 20px;
    font-style: italic;
    font-family: 'HandJet', cursive;
}

a[target = "_blank"] { /* Attribute selectors */
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: right;
}

input[type ~= "radio"]:checked + label{
    color: orange;
}

.login-btn {
    margin: 0;
    position:relative;
    left:90%;
}

.login-btn button {
    width: 60px;
    color: darkgreen;
    background-color: beige;
    box-shadow: 0px 0px 3px 3px skyblue;
}

.container, .practice-container {
    width:90%;
    box-sizing: border-box; /* To make width(95%) as contain padding, margin, border */
    margin: 0 auto; /* Center aligned */
}

.list { /* class */
    font-style: italic;
}

.ordered-list {
    list-style-type: lower-alpha; /* like 'type="a"' */
}

.unordered-list {
    list-style-type: circle;
}

.image-list {
    list-style-image: url('../img/download.png') !important;
    list-style-position: inside;
}

.table {
    width:70%;
    border:1px solid darkgreen;
    border-collapse: collapse; /* border-spacing: 0; only 1 line*/
    border: 2px;
    box-shadow: 0 0  5px 5px skyblue;
}

.gloves-img {
    size: 70%;
    width: 70%;
    border: 1px solid darkgreen;
    border-radius: 25px; /* Circle is over 50% */
}

div[class $= radio-container] {
    width:25%;
    height: 20%;
    border: 1px solid black;
    border-radius: 40%;
    background-color: beige;
}

.radio-videos {
    width:30%;
    display: inline-block;
    position: relative;
    top:-10px;
}

input[id $= "video"] {
    margin-right: 0;
}

.site-title, .site-sidebar, .site-article, .site-footer{
    border:0px solid black;
    margin: 0px;
    box-sizing: border-box;
    font-size: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.site-title {
    height:70px;
    background-color: lightgray;
}

.site-sidebar {
    width: 20%;
    height: 200px;
    float: left; /* If i make this with display: inline-block;, It has gap between sidebar and ariticle */
    background-color: beige;
    /* display: inline-block; Can with display and position, without float*/
}
.site-article {
    width: 80%;
    height:200px;
    float: left;
    background-color:cornsilk;
    background-image: url('../img/cat-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    /* background: url('../img/cat-bg.png') no-repeat center center fixed; image, repeat, position, attachment */

    /* display: inline-block;
    position:relative;
    left:20%; width of sidebar
    top:-200px; height of sidebar*/
}

.site-footer {
    height: 70px;
    background: linear-gradient(to right top, grey, white);
    clear: left; /* When you use float, it have to be needed */
    /* position: relative;
    top:-205px; height of article + margin*/
}

.gradation {
    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    line-height: 100px;
    border-radius: 50%; /* Make a circle*/
    background: radial-gradient(circle at 20% 20%, white, blue, black);
    /* Radial gradation to circle*/
}

.transform-element-first {
    width: 200px;
    height: 200px;
    padding: 5px;
    text-align: center;
    line-height:200px;
    display: inline-block;
    position:absolute;
    border: 1px solid black;
    border-radius: 50%;
    transform:translateX(50px) rotate(-45deg); /* translate and rotate*/
}

.transform-element-second {
    width: 400px;
    height: 193px;
    display: inline-block;
    border: 1px solid black;
    perspective: 300px; /* Add perspective in order to add hover action */
    transform:translateX(300px);
}

.transform-element-image {
    width:400px;
}

.transform-element-third {
    margin:10px;
    padding:0;
    width:200px;
    height:200px;
    border: 1px solid black;
    position:relative;
    transform: translate(50px);
    /* transition-property: border-radius, background-color;
    transition-duration: 1s, 2s; */
    transition: 2s;
}

.caption {
    margin:0;
    padding: 50px;
    width:200px;
    height:200px;
    box-sizing: border-box;
    position:absolute;
    top:200px; /* Under 200px */
    border-radius: 40%;
    opacity: 0; /* hide */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10; /* Always on top */
}

.caption h3, .caption p {
    text-align: center;
    color:white;
}

.transform-element-third:hover .caption{
    opacity: 1; /* show */
    transform:translateY(-200px); /* Up 200px */
}

.transform-element-third:hover {
    /* animation-name: makeCircle; */
    animation-name: around;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.transform-element-image:hover {
    transform: rotateX(50deg);
}

.practice {
    background-color: skyblue;
    color: greenyellow;
}

.practice-unordered-list {
    list-style-type: none;
    
}
.practice-unordered-list-item {
    border: 1px solid #000;
    margin: 1em;
    padding: 1em;
    text-align: center;
    
}

#article-text { /* id */
    font-size: 10px;
    font-weight: bold;
    text-align: justify;
    line-height: 0.75rem; /* 0.75rem -> 12px 
        => default font size is 16px, 16px x 0.75 = 12px
        Declare font-size: 10px; here but, 0.75rem is 12px
        Can use 150%*/
    color:hsla(135, 51%, 51%, 0.5) /* + rgb, rgba*/
}

@keyframes makeCircle {
    from { border-radius:0%;}
    to {
        border-radius: 40%;
        background-color: beige;
    }
}

@keyframes around {
    from { transform:rotate(0deg);}
    to { transform: rotate(360deg);}
}