@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

* {margin: 5px; padding: 5px;}
body {text-transform: capitalize; margin: 0 auto; display: flex; justify-content: center;}
h2 {background-color: aquamarine; font-family: 'Roboto Condensed', sans-serif; color:burlywood;}
p {color: violet;}

.container {width: 500px; border: 1px solid black;} 
.check-divisible-container input {width:100px;}