@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

* {margin: 5px; padding: 5px;}
body {text-transform: capitalize; margin: 0 auto; display: flex; justify-content: center;}
h2 {background-color: aquamarine; font-family: 'Roboto Condensed', sans-serif; color:burlywood;}
p {color: violet;}
button {text-transform: uppercase;}

.container {width: 500px; border: 1px solid black;} 
.check-divisible-container input {width:100px;}
.event-img-container {position: relative;}
.event-img-container img {margin:0px; padding: 0px; }
.over {margin:0px; position:absolute; left:5px; bottom:10px; background-color: rgba(255, 255, 255, 0.6); border: 1px solid #ccc; text-transform: capitalize;}
.reload-container {margin: 0;display: flex; justify-content: right;}
.reload-btn {width:30px; height:30px; display: flex; justify-content: center; align-items: center;}
.reload-btn:hover {border: 1px solid #ccc;}
#event-detail-description {display: none;}
#min-number, #max-number {width:70px;}